body { background: #383838; font-size: 12px; font-family: verdana, san-serif; color: #fff; }
#wrapper { width: 900px; height: 100px; margin: auto; }
h1.page-title { color: #fff; text-align: center; margin-bottom: 1em; }